/* The colors scheme of the app*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: ##00191e;
  --background: #f7feff;
  --chakra-primary: #319795;
  --primary: #14d0fc;
  --secondary: ##72a5fd;
  --accent: ##3b55fc;
  --button_hover: #20b6d8;
}
/* The font  */
@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
  font-weight: 1 999;
}

body {
  font-weight: 400; /* Adjust this value to get the desired weight */
  background-color: var(--background);
  color: var(--text);
}

h1, h2, h3, h4, h5, h6, body {
  font-family: "Outfit", sans-serif !important;
}

button{
  border-radius: 0px !important;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.8rem;
  }
  h5 {
    font-size: 0.6rem;
  }
  h6 {
    font-size: 0.4rem;
  }

  p {
    font-size: 0.8rem;
  }
  span {
    font-size: 0.8rem;
  }
  .card {
    width: 90vw;
  }
}
